*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a, #3a4452);
}
.Calculator{
 border: 1px solid #717377;
 padding: 20px;
 border-radius: 16px;
 background: transparent;
box-shadow: 0px 3px 15px rgb(113, 115, 119,.5);
}
input{
    width: 330px;
    cursor: pointer;
    border-radius: 11px;
    border: none;
    padding: 25px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgb(84, 84, 84,.6);
    text-align: right;
    color: white;
    font-size: 40px;

}
button{
    cursor: pointer ;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    border: none;
    color: white;
    background: transparent;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgb(255, 255, 255,.1);

}
.equalbtn{
    background-color: #fb7c14;
}
.operator{
    color: #6dee0a;
}